* 
    box-sizing: border-box 


body 
    align-items: center
    padding-top: 40px
    padding-bottom: 40px
    margin: 0
    background-color: $dark


.card 
    margin: 65px

.card__section
    padding: 45px
    height: 600px
    display: flex
    flex-direction: column
    flex-wrap: wrap
    align-items: center
    justify-content: center
    align-content: center

.card__container 
    background-color: $red
    color: $grey-1
    margin: 5px

.card__body
    cursor: pointer
    padding: 25px

@media only screen and (max-width: $mediaMinWidth) 
  .card__section 
    display: inline
    padding: 0
  
